<!DOCTYPE html>
<html>
<%- include("../includes/head") %>

<body>
  <header class="container-fluid ">
      <%- include('../includes/navbarSec', {page:'secList'}) %>

  </header>

  <main class="container animated fadeIn" id="fader">
    <% if (SL.length>0){ %>
    <h2>Liste des secretaires:</h2><br>
    <% SL.forEach(elem=>{ %>
    <article class="shadow p-3 mb-5 bg-white rounded">
      <!-- <h3>id: <%= elem.id %> </h3> -->
      <p>Nom d'utilisateur: <%= elem.username %> | Mot de passe: <%= elem.pass %> </p>
      <form action="/admin/delete-secretary" method="POST">
        <input type="hidden" name="secId" value="<%= elem._id %>">
        <button type="submit" class="btn btn-danger">Supprimer</button>
      </form>

    </article>

    <% }) } else { %>
    <h1>Pas de secretaire pour l'instant</h1>
    <p>Veillez en ajouter !!</p>
    <% } %>

  </main>


</body>

</html>