<!DOCTYPE html>
<html>
<%- include("../includes/head") %>

<body>
    <header class="container-fluid">
        <%- include("../includes/navbar",{page:'details du doctorant'}) %>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row ">
                    <img class="mx-auto img-thumbnail img-responsive" src="<%= doc.profil %>" alt="Photo de profil">
                </div>
                <div class="row ">
                    <form class="mx-auto" action="/secretary/encadrant-detail" method="post">
                        <input type="hidden" name="encId" value="<%= doc._id %>">
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </div>
            </div>
            <div class="col-sm">
                <h3>Details de l'encadrant</h3>
                <p>Nom: <%= doc.nom %></p>
                <p>prenom: <%= doc.prenom %></p>
                <p>CIN: <%= doc.cin %></p>
                <p>Date de naissance: <%= doc.dateNaiss %></p>
                <p>Lieu de naissance: <%= doc.lieuNaiss %></p>
                <p>Specialite: <%= doc.specialite %></p>
                <p>Telephone: <%= doc.tel %></p>
                <p>Email: <%= doc.email %></p>
            </div>
        </div>
    </main>


</body>

</html>